<!--
    =========================================================
    * Material Dashboard 2 - v3.0.0
    =========================================================
    
    * Product Page: https://www.creative-tim.com/product/material-dashboard
    * Copyright 2021 Creative Tim (https://www.creative-tim.com)
    * Licensed under MIT (https://www.creative-tim.com/license)
    * Coded by Creative Tim
    
    =========================================================
    
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
      <link rel="icon" type="image/png" href="../assets/img/favicon.png">
      <title>
        N&N FOOTWEAR
      </title>
      <!--     Fonts and icons     -->
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
      <!-- Nucleo Icons -->
      <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
      <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
      <!-- Font Awesome Icons -->
      <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

      <script src="https://kit.fontawesome.com/97bdc000f0.js" crossorigin="anonymous"></script>
      <!-- Material Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
      <!-- CSS Files -->
      <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    </head>
    
    <body class="g-sidenav-show  bg-gray-200">
      <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
          <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
            <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Material Dashboard 2</span>
          </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white "  href="/admin/home">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">dashboard</i>
                </div>
                <span class="nav-link-text ms-1">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/user">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">table_view</i>
                </div>
                <span class="nav-link-text ms-1">Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/productList">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">receipt_long</i>
                </div>
                <span class="nav-link-text ms-1">Products</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/categoryList">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">view_in_ar</i>
                </div>
                <span class="nav-link-text ms-1">category</span>
              </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/brandList">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">notifications</i>
                </div>
                <span class="nav-link-text ms-1">Brand</span>
              </a>
            </li>
            <li class="nav-item mt-3">
              <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/couponList">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">person</i>
                </div>
                <span class="nav-link-text ms-1">Coupon</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="/admin/order">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">login</i>
                </div>
                 <span class="nav-link-text ms-1">Orders</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white active bg-gradient-primary " href="/admin/salesReport">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">assignment</i>
                </div>
                <span class="nav-link-text ms-1">Sales Report</span>
              </a>
            </li>
          </ul>
        </div>
        
      </aside>
      <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              </ol>
              <h6 class="font-weight-bolder mb-0">Sales Report</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                  <label class="form-label">Type here...</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">Sign In</span>
                  </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0">
                    <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                  </a>
                </li>
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell cursor-pointer"></i>
                  </a>
                  <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                          <div class="my-auto">
                            <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                              <span class="font-weight-bold">New message</span> from Laur
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              <i class="fa fa-clock me-1"></i>
                              13 minutes ago
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                          <div class="my-auto">
                            <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                              <span class="font-weight-bold">New album</span> by Travis Scott
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              <i class="fa fa-clock me-1"></i>
                              1 day
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                          <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                            <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>credit-card</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                  <g transform="translate(1716.000000, 291.000000)">
                                    <g transform="translate(453.000000, 454.000000)">
                                      <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                      <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="text-sm font-weight-normal mb-1">
                              Payment successfully completed
                            </h6>
                            <p class="text-xs text-secondary mb-0">
                              <i class="fa fa-clock me-1"></i>
                              2 days
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        
        <title>Sales Report</title>
        <style>
            body#sales-report {
                font-family: Arial, sans-serif;
                background-color: #f5f5f5;
                margin: 0;
                padding: 0;
            }
    
            h1 {
                font-size: 36px;
                font-weight: bold;
                color: #333;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 20px;
            }
    
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
            }
    
            label {
                font-size: 20px;
                color: #333;
                margin-right: 10px;
            }
    
            input[type="date"] {
                font-size: 20px;
                padding: 5px;
                border: none;
                border-radius: 5px;
                box-shadow: 0 0 5px #ccc;
                margin-bottom: 20px;
            }
            hr {
                border: none;
                border-top: 2px solid #333;
                margin-bottom: 30px;
            }
    
            h2 {
                font-size: 24px;
                font-weight: bold;
                color: #333;
                margin-bottom: 20px;
            }
    
            table {
                width: 100%;
                border-collapse: collapse;
                background-color: #fff;
                box-shadow: 0 0 10px #ccc;
            }
    
            th, td {
                padding: 10px;
                text-align: left;
                border: 1px solid #ccc;
            }
    
            th {
                background-color: #333;
                color: #fff;
            }
    
            tbody tr:nth-child(even) {
                background-color: #f5f5f5;
            }
            button {
                font-size: 20px;
                padding: 10px 20px;
                background-color: #333;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            button :hover{
                background-color: #555;
            }
            
        </style>
    </head>
    <body id="sales-report">
        <h1>Sales Report</h1>
        <style>
            .error {
                color: red;
            }
        </style>
        
        <form action="/admin/show-salesreport" method="POST" onsubmit="return validateForm(event)">
            <label class="col-6" for="start-date">Start Date:</label>
            <input class="col-6" type="date" id="start-date" name="startDate">
            <div id="start-date-error" class="error"></div>
        
            <label class="col-6" for="end-date">End Date:</label>
            <input class="col-6" type="date" id="end-date" name="endDate">
            <div id="end-date-error" class="error"></div>
        
            <button type="submit">Generate Report</button>
        </form>




        <div class="container">
          <head>
            <title>Sales Report</title>
            <style>
              table {
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 1em;
              }
              th, td {
                padding: 0.5em;
                text-align: left;
                border-bottom: 1px solid #1b1313;
              }
              th {
                background-color: #1b1313;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: #fff;
              }
              h1 {
                font-size: 2.5em;
                text-align: center;
                margin-top: 1em;
                margin-bottom: 0.5em;
                color: #1b1313;
                text-transform: uppercase;
                letter-spacing: 0.2em;
              }
              table tbody tr:nth-child(even) {
                background-color: #f2f2f2;
              }
              table tbody tr:hover {
                background-color: #ddd;
              }
              .address {
                font-size: 0.9em;
                line-height: 1.4;
                margin: 0;
                color: #555;
              }
            </style>
          </head>
          <body>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Address</th>
                  <th>Payment Method</th>
                  <th>Order Status</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody style="color: black;">
                <% saleData.forEach((value,index)=>{%>
                <tr>
                  <td><%= value.date.toLocaleString({day:'2-digit',month:'2-digit',year:'2-digit'})%></td>
                  <td>
                    <p class="address" style="color: black;"> <b>
                      <%=value.address.fullName %><br>
                      <%= value.address.mobileNumber %><br>
                      <%= value.address.houseAddress %>, <%= value.address.streetAddress %> <br>
                      <%= value.address.landMark%> <br>
                      <%= value.address.cityName %>, <%= value.address.state %> - <%= value.address.pincode %>
                    </p>
                  </b>
                  </td>
                  <td><%= value.paymentMethod %></td>
                  <td style="color: green;"><b><%= value.orderStatus%></b></td>        
                  <td style="color: green;"><b>₹<%= value.totalAmount %></b></td>
                </tr>
                <% }) %>

              
              </tbody>
            </table>
          </body>
        </div>
        <script>
            function validateForm(event) {
                event.preventDefault(); // prevent the form from submitting
        
                var startDate = document.getElementById("start-date").value;
                var endDate = document.getElementById("end-date").value;
                var valid = true;
        
                if (startDate > endDate) {
                    document.getElementById("start-date-error").innerHTML = "Error: Start date cannot be after end date.";
                    valid = false;
                } else {
                    document.getElementById("start-date-error").innerHTML = "";
                }
        
                if (endDate < startDate) {
                    document.getElementById("end-date-error").innerHTML = "Error: End date cannot be before start date.";
                    valid = false;
                } else {
                    document.getElementById("end-date-error").innerHTML = "";
                }
        
                if (!startDate) {
                    document.getElementById("start-date-error").innerHTML = "Error: Please select  start date .";
                    valid = false;
                } else {
                    document.getElementById("start-date-error").innerHTML = "";
                }
                if (!endDate) {
                    document.getElementById("end-date-error").innerHTML = "Error: Please select  end date.";
                    valid = false;
                } else {
                    document.getElementById("end-date-error").innerHTML = "";
                }
                if (valid) {
                    event.target.submit(); // submit the form if all validations pass
                }
            }
        </script>
        
    
      
      <!--   Core JS Files   -->
      <script src="../assets/js/core/popper.min.js"></script>
      <script src="../assets/js/core/bootstrap.min.js"></script>
      <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
      <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
      <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
      </script>
      <!-- Github buttons -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="../assets/js/material-dashboard.min.js?v=3.0.0"></script>
    </body>
    
    </html>