<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-checkout-address.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>N&N KICKS</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="user/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="user/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="user/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="user/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="user/css/plugins.css">

    <!-- theme core css -->
    <link href="user/css/styles.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">

            <div id="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 col-md-6">
                            <div class="top-bar-info">
                                <ul class="ps-0">
                                    <li><a href="tel:01234567890"><i class="ti-mobile"></i><span
                                                class="d-none d-md-inline-block ps-2">(+123) 456 7890</span></a></li>
                                    <li><a href="mailto:addyour@emailhere"><i class="ti-email"></i><span
                                                class="d-none d-md-inline-block ps-2">addyour@emailhere</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-9 col-md-6">
                            <ul class="top-nav ps-0">
                                <li class="nav-item dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle"><i
                                            class="far fa-user"></i></a>
                                    <ul class="dropdown-menu p-4">
                                        <li class="mb-2">
                                            <div class="media align-items-center">
                                                <img class="w-40px rounded-circle me-3" src="user/img/avatar/01.png"
                                                    alt="...">
                                                <div class="media-body">Nancy Miller</div>
                                            </div>

                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Order List</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Log Out</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li>
                                    <select>
                                        <option>English</option>
                                        <option>Deutsch</option>
                                        <option>Italiano</option>
                                    </select>
                                </li>
                                <li>
                                    <select>
                                        <option>$ USD</option>
                                        <option>€ EUR</option>
                                        <option>£ UKP</option>
                                        <option>¥ JPY</option>
                                    </select>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-dark">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white"
                                        type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off"
                                    placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i
                                        class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid p-0">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <!-- category toggler -->
                                    <a href="#" id="trigger" class="menu-trigger"><i class="ti-menu"></i></a>
                                    <!-- end category toggler -->

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo"
                                                src="user/img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="home-shop-1.html">Home 01</a></li>
                                                <li><a href="home-shop-2.html">Home 02</a></li>
                                                <li><a href="home-shop-3.html">Home 03</a></li>
                                                <li><a href="home-shop-4.html">Home 04</a></li>
                                                <li><a href="admin/index.html" target="_blank">Admin Dashboard</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contacts</a></li>
                                                <li><a href="help-faq.html">Help / FAQ</a></li>
                                                <li><a href="product-comparison.html">Product Comparison</a></li>
                                                <li><a href="order-tracking.html">Order Tracking</a></li>
                                                <li><a href="order-tracking-detail.html">Order Tracking Detail</a></li>
                                                <li><a href="search-results.html">Search Results</a></li>
                                                <li><a href="404-page.html">404 Not Found</a></li>
                                                <li><a href="comingsoon.html">Coming Soon</a></li>
                                                <li><a href="newsletter.html">Newsletter</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Account</a>
                                            <ul>
                                                <li><a href="login-register.html">Login / Register</a></li>
                                                <li><a href="account-password-recovery.html">Password Recovery</a></li>
                                                <li><a href="account-orders.html">Orders List</a></li>
                                                <li><a href="account-wishlist.html">Wishlist</a></li>
                                                <li><a href="account-profile.html">Profile Page</a></li>
                                                <li><a href="account-address.html">Contact / Shipping Address</a></li>
                                                <li><a href="account-tickets.html">My Tickets</a></li>
                                                <li><a href="account-single-ticket.html">Single Ticket</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Mega Menu</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories
                                                        01</span>
                                                    <ul>
                                                        <li><a href="#">Internal SSD</a></li>
                                                        <li><a href="#">Memory Cards</a></li>
                                                        <li><a href="#">Home Theatres</a></li>
                                                        <li><a href="#">Unique Routers</a></li>
                                                        <li><a href="#">Security cameras</a></li>
                                                        <li><a href="#">Effective Laptops</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories
                                                        02</span>
                                                    <ul>
                                                        <li><a href="#">Winterwear</a></li>
                                                        <li><a href="#">Sportswear</a></li>
                                                        <li><a href="#">Innerwear</a></li>
                                                        <li><a href="#">Ethnic Wear</a></li>
                                                        <li><a href="#">Cotton Lounge Wear</a></li>
                                                        <li><a href="#">Essential Swimwear</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories
                                                        03</span>
                                                    <ul>
                                                        <li><a href="#">Computer Speakers</a></li>
                                                        <li><a href="#">Compact Headphones</a></li>
                                                        <li><a href="#">Best Choice Printers</a></li>
                                                        <li><a href="#">PC Gaming</a></li>
                                                        <li><a href="#">Power banks</a></li>
                                                        <li><a href="#">Musical Instruments</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 d-none d-lg-block">
                                                    <span
                                                        class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Current
                                                        Offers</span>

                                                    <div class="offer-slider owl-carousel owl-theme">

                                                        <div class="offer-banner-slider"
                                                            style="background-image:url(user/img/offer-banner/offer-slide-01.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Men's</h6>
                                                                <h4 class="font-weight-500"><a href="#">Up to 50%
                                                                        Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy
                                                                        Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider"
                                                            style="background-image:url(user/img/offer-banner/offer-slide-02.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Women's</h6>
                                                                <h4 class="font-weight-500"><a href="#"
                                                                        class="text-white">Up to 70% Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy
                                                                        Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider"
                                                            style="background-image:url(user/img/offer-banner/offer-slide-03.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Electronics
                                                                </h6>
                                                                <h4 class="font-weight-500"><a href="#"
                                                                        class="text-white">Mega Sale</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy
                                                                        Now</span></a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </li>

                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog List Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog List Left Sidebar</a></li>
                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop-categories.html">Shop Categories</a></li>
                                                <li><a href="shop-product-grid.html">Product Grid</a></li>
                                                <li><a href="shop-product-list.html">Product List</a></li>
                                                <li><a href="shop-product-full-three-coulmn.html">Product Three
                                                        Coulmns</a></li>
                                                <li><a href="shop-product-full-four-coulmn.html">Product Four
                                                        Coulmns</a></li>
                                                <li><a href="shop-product-detail.html">Product Detail</a></li>
                                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                                <li><a href="shop-checkout-address.html">Shop Checkout</a>
                                                    <ul>
                                                        <li><a href="shop-checkout-address.html">Address</a></li>
                                                        <li><a href="shop-checkout-shipping.html">Shipping</a></li>
                                                        <li><a href="shop-checkout-payment.html">Payment</a></li>
                                                        <li><a href="shop-checkout-review.html">Review</a></li>
                                                        <li><a href="checkout-complete.html">Complete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements
                                                        01</span>
                                                    <ul>
                                                        <li><a href="accordions.html"><i
                                                                    class="fas fa-sliders-h me-2"></i>Accordions</a>
                                                        </li>
                                                        <li><a href="alerts.html"><i
                                                                    class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquote.html"><i
                                                                    class="fas fa-vector-square me-2"></i>Blockquote</a>
                                                        </li>
                                                        <li><a href="buttons.html"><i
                                                                    class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i
                                                                    class="far fa-square me-2"></i>Call to Action</a>
                                                        </li>
                                                        <li><a href="carousel-slider.html"><i
                                                                    class="far fa-images me-2"></i>Carousel Slider</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements
                                                        02</span>
                                                    <ul>
                                                        <li><a href="countdown.html"><i
                                                                    class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counters.html"><i
                                                                    class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i
                                                                    class="far fa-closed-captioning me-2"></i>Dropcaps</a>
                                                        </li>
                                                        <li><a href="forms.html"><i
                                                                    class="fab fa-wpforms me-2"></i>Forms</a></li>
                                                        <li><a href="form-elements.html"><i
                                                                    class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i
                                                                    class="far fa-check-square me-2"></i>Font Icons</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements
                                                        03</span>
                                                    <ul>
                                                        <li><a href="grid-system.html"><i
                                                                    class="fas fa-th me-2"></i>Grid System</a></li>
                                                        <li><a href="highlights.html"><i
                                                                    class="fas fa-highlighter me-2"></i>Highlights</a>
                                                        </li>
                                                        <li><a href="icon-with-text.html"><i
                                                                    class="fab fa-fonticons-fi me-2"></i>Icon With
                                                                Text</a></li>
                                                        <li><a href="list-styles.html"><i
                                                                    class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i
                                                                    class="fas fa-photo-video me-2"></i>Media Object</a>
                                                        </li>
                                                        <li><a href="modal.html"><i
                                                                    class="fas fa-expand me-2"></i>Modal</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span
                                                        class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements
                                                        04</span>
                                                    <ul>
                                                        <li><a href="pagination.html"><i
                                                                    class="far fa-caret-square-right me-2"></i>Pagination</a>
                                                        </li>
                                                        <li><a href="progress-bars.html"><i
                                                                    class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i
                                                                    class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="tabs.html"><i
                                                                    class="fas fa-sliders-h me-2"></i>Tabs</a></li>
                                                        <li><a href="typography.html"><i
                                                                    class="fas fa-text-height me-2"></i>Typography</a>
                                                        </li>
                                                        <li><a href="responsive-videos.html"><i
                                                                    class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-dark">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#" class="photo"><img
                                                                src="user/img/products/cart-thumbs/cart-thumb-01.jpg"
                                                                class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Men's Football Boots </a></h6>
                                                        <p>2x - <span class="price">$30.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img
                                                                src="user/img/products/cart-thumbs/cart-thumb-02.jpg"
                                                                class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Sun Protection Cap</a></h6>
                                                        <p>1x - <span class="price">$10.20</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img
                                                                src="user/img/products/cart-thumbs/cart-thumb-03.jpg"
                                                                class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Heel Character Shoes</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-dark">
                                                        <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                        <a href="shop-cart.html"
                                                            class="butn-style2 small white float-end w-auto"><span>View
                                                                Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>

        <!-- CATEGORY MP-MENU
        ================================================== -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="user/img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Shop Checkout</h1>
                </div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Shop Checkout</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <!-- CHECKOUT
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row">
                    

                        <div class="col-12">
                            <div class="process-steps mb-1-9 mb-lg-6">
                                <a class="step active" href="shop-checkout-address.html"><i
                                        class="ti-direction-alt"></i>
                                    <h4 class="step-title">1. Address</h4>
                                </a>
                                <a class="step" href="shop-checkout-payment.html"><i class="ti-wallet"></i>
                                    <h4 class="step-title">2. Payment</h4>
                                </a>
                                <a class="step" href="shop-checkout-review.html"><i class="ti-check-box"></i>
                                    <h4 class="step-title">3. Review</h4>
                                </a>
                            </div>
                        </div>
                        <div id="accordion" class="accordion-style3">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Coupon Code
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordion">
                                    <div class="card-body">

                                        <form>

                                            <div class="row">

                                                <div class="col-sm-12 mb-2">

                                                    <div class="form-group">
                                                        <label>Enter Your Coupon Code</label>
                                                        <input type="text" class="form-control" id="code"
                                                            name="couponCode" placeholder="Enter Your Coupon Code">
                                                    </div>

                                                </div>

                                            </div>
                                            <button type="button" class="butn-style2 small" name="couponCode"
                                                onclick="applyCoupon($('#code').val())">Apply Code</button>


                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="" id="checkout-form">

                            
                      <input type="hidden" name="couponDiscount" id="discount1" value="">
                      <input type="hidden" name="total1" id="total1" value="">
                      <input type="hidden" name="couponC" id="code" value="">
          
                        <!-- left pannel section -->
                        <div class="col-lg-7 col-12 pe-lg-2-3 mb-1-9 mb-lg-0">

                            <div class="common-block">

                                <div class="inner-title">
                                    <h4 class="mb-0">Billing Address</h4>
                                </div>

                                <div class=" ">


                                    <%if(address==null){ %>
                                        <%}else{ %>
                                            <% address.userAddresses.forEach((value,index)=> { %>

                                                <label>
                                                    <input type="radio" name="address" value="<%= index%>" required>
                                                    <div class="mb-3 ms-5">
                                                        <span>
                                                            <%= value.fullname%><br>
                                                                <%= value.mobileNumber %> <br>
                                                                    <%= value.houseAddress %>,<%= value.streetAddress %>
                                                                            ,<%= value.landMark %> <br>
                                                                                <%= value.cityName %>,<%= value.state %>
                                                                                        <br>
                                                                                        <%= value.pincode %>
                                                        </span>
                                                    </div>
                                                </label>
                                                <br>
                                                <hr>
                                                <% } ) }%>
                                                    <div>


                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-dark"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            Add Address
                                                        </button>
                                                    </div>
                                </div>


                            </div>

                        </div>
                        <!-- end left pannel section -->
                        <br><br>
                        <!-- right pannel section -->
                        <div class="col-lg-5 col-12 side-bar">

                            <div class="widget">

                                <div class="widget-title">
                                    <h5>Order Summary</h5>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% userData.cart.forEach((cart,index)=> { %>
                                            <tr>
                                                <th scope="row"></th>
                                                <td>
                                                    <%= cart.productId.name %>
                                                </td>
                                                <td>x<%= cart.qty %>
                                                </td>
                                                <td>₹<%= cart.productTotalPrice%>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td colspan="2">Subtotal</td>
                                                    <td>₹<%= userData.cartTotalPrice %>
                                                    </td>
                                                </tr>
                                                <th scope="row"></th>
                                                <td colspan="2"> <b></b>
                                                </td>
                                                <td></td>
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td colspan="2">Discount</td>
                                                    <td id="discount">  </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td colspan="2">Total</td>
                                                    <td id="total">₹<%= userData.cartTotalPrice%>
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>



                            </div>
                           
                            <br> <br>
                            <div class="widget">

                                <div class="widget-title">
                                    <h5>Payment Details</h5>
                                </div>

                                <div class="form-check">
                                    <h6 class="display-30 font-weight-600 mb-2"><i
                                            class="fas fa-award pe-2 display-29"></i> Cash On Delivery Pay After
                                        Delivered</h6>

                                    <input class="form-check-input" type="radio" value="COD" name="payment"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Cash On Delivery(COD)
                                    </label>
                                </div>
                                <br> <br>
                                <div class="form-check">
                                    <h6 class="display-30 font-weight-600 mb-2"><i
                                            class="far fa-credit-card pe-2 display-29"></i> We accept following credit
                                        cards:</h6>
                                    <ul class="list-style-17 mb-4">
                                        <img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                        <img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                        <img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                        <img src="user/img/content/payment-options/discover.png" alt="..."></li>
                                    </ul>
                                    <input class="form-check-input" type="radio" value="Online Payment" name="payment"
                                        id="flexRadioDefault2" checked>

                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Online Payment
                                    </label>

                                </div>
                                <br> <br>
                                <div class="d-grid gap-2 col-12 mx-auto">
                                    <button  class="btn btn-dark" type="submit">Place Order</button>
                                </div>
                            </div>

                    </form>
                    <!-- end left pannel section -->
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email"
                                                class="form-control">
                                            <a href="#" class="butn-style2"><i
                                                    class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#"
                                            class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                                <span class="fab fa-apple display-26 pe-3"></span>
                                                <span class="media-body">
                                                    <span class="d-block display-32">Download on the</span>
                                                    <strong>App Store</strong>
                                                </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                                <span class="fab fa-google-play display-26 pe-3"></span>
                                                <span class="media-body">
                                                    <span class="d-block display-32">Get it on</span>
                                                    <strong>Google Play</strong>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> Smartshop is Powered by <a
                                        href="https://www.chitrakootweb.com/" target="_blank"
                                        class="text-dark">Chitrakoot Web</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/addCheckoutAddress" method="post">
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Full name:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="fullname"
                                        placeholder="Enter your name">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Mobile Number:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="number"
                                        placeholder="Enter mobile number">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Home Address:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="houseAddress"
                                        placeholder="Address">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Street Address:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="streetAdress"
                                        placeholder="Enter street address">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">State:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="state"
                                        placeholder="State">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">town/City:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="city"
                                        placeholder="Town">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">LandMark:</label>
                                    <input type="text" class="form-control" id="recipient-name" name="landmark"
                                        placeholder="Landmark">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Pincode</label>
                                    <input type="text" class="form-control" id="recipient-name" name="pincode"
                                        placeholder="Pincode">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-dark">Add Address</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </footer>

    </div>


    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>




    <script>
        function applyCoupon(code) {
            console.log(code);
            console.log("Applying coupon...");

            $.ajax({
                url: "/couponapply",
                data: {
                    code: code,
                },
                method: "post",
                success: function (response) {
                    console.log("Coupon applied response:", response);
                    if (response.datefailed) {
                        console.log("Coupon expired.");
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Coupon expired.",
                        });
                    } else if (response.minimum) {
                        console.log("Purchase amount does not meet the minimum requirement for the coupon.");
                    Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Purchase amount does not meet the minimum requirement for the coupon.",
                        });
                    } else if (response.used) {
                        console.log("Coupon already used.");
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Coupon already used.",
                        });
                    } else if (response.invalid) {
                        console.log("Coupon invalid.");
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Entered invalid Coupon .",
                        });
                    } else if (response.limit) {
                        console.log("Coupon limit exceeded.");
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Coupon limit exceeded.",
                        });
                    } else if (response.amountokey) {
                        console.log("Coupon granted.");
                        document.getElementById('code').value = response.code
                        document.getElementById('discount').innerHTML = response.discountValue
                        document.getElementById('discount1').value = response.discountValue
                        document.getElementById('total').innerHTML = response.value
                        document.getElementById('total1').value = response.value
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Coupon granted!",
                            text: "You have successfully applied the coupon.",
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error applying coupon:", errorThrown);
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong. Please try again later.",
                    });
                },
            });
        }
    </script>

    <!-- all js include start -->
    <script>


        $("#checkout-form").submit((e) => {
            console.log("working sumbition");
            e.preventDefault()
            // const discount = document.getElementById('discountAmount').innerHTML
            // console.log(discount,"here")
            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    if (response.status) {
                        setTimeout(() => {
                            window.location.href = '/ordersuccess'
                            console.log(response)
                        }, 1000)
                    }else{
                razorpayPayment(response)
            console.log(response,"response from razorpayment");
            }
                }
            })
        })
    </script>

     <script>
        function razorpayPayment(order){
          console.log("in razor");
          var options = {
          "key": "rzp_test_fh4WJ53qxZZ3Uu", // Enter the Key ID generated from the Dashboard
          "amount": order.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
         "name": "Nameer Nihad PC", //your business name
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
          "prefill": {
              "name": "Gaurav Kumar", //your customer's name
              "email": "gaurav.kumar@example.com",
              "contact": "9000090000"
          },
          "notes": {
              "address": "Razorpay Corporate Office"
          },
          "theme": {
              "color": "#3399cc"
          },
                  "handler": function (response) {
                    console.log(response);
                    console.log(order.order);
                      verifyPayment(response, order.order);
                  }
              };
              if (typeof Razorpay !== 'undefined') {
                console.log(options);
              var rzp1 = new Razorpay(options);
              rzp1.open()
         }else{
        console.log('errro');
          }
            
        }
      </script>
     <script>
        function verifyPayment(payment,order){
            console.log("from verifyPayment");
                $.ajax({
                    url:'/verify-payment',
                    data:{
                        payment,
                        order
                    },
                    method:'post',
                    success:(response)=>{
                        console.log(response);
                        if(response.status){
                            window.location.href = '/ordersuccess'
                        }else{
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Payment failed',
                                showConfirmButton: false,
                                timer: 2000
                            })
                            // alert('Your Product Deleted from Cart')
                            // setTimeout(() => {
                            //     location.reload()
                            // }, 1200);
                            // window.location.href = '/ordersuccess'
                        }
                    }
                })
            }
        </script>
    <!-- jQuery -->
    <script src="user/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="user/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="user/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="user/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="user/js/main.js"></script>

    <!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-checkout-address.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->

</html>