<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:58:47 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="N&N KICKS" />

    <!-- title  -->
    <title>N&N KICKS</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="user/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="user/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="user/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="user/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="user/css/plugins.css">

    <!-- theme core css -->
    <link href="user/css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">

            <div id="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3 col-md-6">
                            <div class="top-bar-info">
                                <ul class="ps-0">
                                    <li><a href="tel:01234567890"><i class="ti-mobile"></i><span class="d-none d-md-inline-block ps-2">(+123) 456 7890</span></a></li>
                                    <li><a href="mailto:addyour@emailhere"><i class="ti-email"></i><span class="d-none d-md-inline-block ps-2">addyour@emailhere</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-9 col-md-6">
                            <ul class="top-nav ps-0">
                                <li class="nav-item dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle"><i class="far fa-user"></i></a>
                                    <ul class="dropdown-menu p-4">
                                        <li class="mb-2">
                                            <div class="media align-items-center">
                                                <img class="w-40px rounded-circle me-3" src="user/img/avatar/01.png" alt="...">
                                                <div class="media-body">Nancy Miller</div>
                                            </div>

                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Order List</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">Log Out</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li>
                                    <select>
                                        <option>English</option>
                                        <option>Deutsch</option>
                                        <option>Italiano</option>
                                    </select>
                                </li>
                                <li>
                                    <select>
                                        <option>$ USD</option>
                                        <option>€ EUR</option>
                                        <option>£ UKP</option>
                                        <option>¥ JPY</option>
                                    </select>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid p-0">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <!-- category toggler -->
                                    <a href="#" id="trigger" class="menu-trigger"><i class="ti-menu"></i></a>
                                    <!-- end category toggler -->

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="user/img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="home-shop-2.html">Home 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contacts</a></li>
                                                <li><a href="help-faq.html">Help / FAQ</a></li>
                                                <li><a href="product-comparison.html">Product Comparison</a></li>
                                                <li><a href="order-tracking.html">Order Tracking</a></li>
                                                <li><a href="order-tracking-detail.html">Order Tracking Detail</a></li>
                                                <li><a href="search-results.html">Search Results</a></li>
                                                <li><a href="404-page.html">404 Not Found</a></li>
                                                <li><a href="comingsoon.html">Coming Soon</a></li>
                                                <li><a href="newsletter.html">Newsletter</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Account</a>
                                            <ul>
                                                <li><a href="login-register.html">Login / Register</a></li>
                                                <li><a href="account-password-recovery.html">Password Recovery</a></li>
                                                <li><a href="account-orders.html">Orders List</a></li>
                                                <li><a href="account-wishlist.html">Wishlist</a></li>
                                                <li><a href="account-profile.html">Profile Page</a></li>
                                                <li><a href="account-address.html">Contact / Shipping Address</a></li>
                                                <li><a href="account-tickets.html">My Tickets</a></li>
                                                <li><a href="account-single-ticket.html">Single Ticket</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Mega Menu</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 01</span>
                                                    <ul>
                                                        <li><a href="#">Internal SSD</a></li>
                                                        <li><a href="#">Memory Cards</a></li>
                                                        <li><a href="#">Home Theatres</a></li>
                                                        <li><a href="#">Unique Routers</a></li>
                                                        <li><a href="#">Security cameras</a></li>
                                                        <li><a href="#">Effective Laptops</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 02</span>
                                                    <ul>
                                                        <li><a href="#">Winterwear</a></li>
                                                        <li><a href="#">Sportswear</a></li>
                                                        <li><a href="#">Innerwear</a></li>
                                                        <li><a href="#">Ethnic Wear</a></li>
                                                        <li><a href="#">Cotton Lounge Wear</a></li>
                                                        <li><a href="#">Essential Swimwear</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 03</span>
                                                    <ul>
                                                        <li><a href="#">Computer Speakers</a></li>
                                                        <li><a href="#">Compact Headphones</a></li>
                                                        <li><a href="#">Best Choice Printers</a></li>
                                                        <li><a href="#">PC Gaming</a></li>
                                                        <li><a href="#">Power banks</a></li>
                                                        <li><a href="#">Musical Instruments</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 d-none d-lg-block">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Current Offers</span>

                                                    <div class="offer-slider owl-carousel owl-theme">

                                                        <div class="offer-banner-slider" style="background-image:url(user/img/offer-banner/offer-slide-01.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Men's</h6>
                                                                <h4 class="font-weight-500"><a href="#">Up to 50% Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider" style="background-image:url(user/img/offer-banner/offer-slide-02.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Women's</h6>
                                                                <h4 class="font-weight-500"><a href="#" class="text-white">Up to 70% Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider" style="background-image:url(user/img/offer-banner/offer-slide-03.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Electronics</h6>
                                                                <h4 class="font-weight-500"><a href="#" class="text-white">Mega Sale</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </li>

                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog List Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog List Left Sidebar</a></li>
                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop-categories.html">Shop Categories</a></li>
                                                <li><a href="shop-product-grid.html">Product Grid</a></li>
                                                <li><a href="shop-product-list.html">Product List</a></li>
                                                <li><a href="shop-product-full-three-coulmn.html">Product Three Coulmns</a></li>
                                                <li><a href="shop-product-full-four-coulmn.html">Product Four Coulmns</a></li>
                                                <li><a href="shop-product-detail.html">Product Detail</a></li>
                                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                                <li><a href="shop-checkout-address.html">Shop Checkout</a>
                                                    <ul>
                                                        <li><a href="shop-checkout-address.html">Address</a></li>
                                                        <li><a href="shop-checkout-shipping.html">Shipping</a></li>
                                                        <li><a href="shop-checkout-payment.html">Payment</a></li>
                                                        <li><a href="shop-checkout-review.html">Review</a></li>
                                                        <li><a href="checkout-complete.html">Complete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordions.html"><i class="fas fa-sliders-h me-2"></i>Accordions</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquote.html"><i class="fas fa-vector-square me-2"></i>Blockquote</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="countdown.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counters.html"><i class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="forms.html"><i class="fab fa-wpforms me-2"></i>Forms</a></li>
                                                        <li><a href="form-elements.html"><i class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="grid-system.html"><i class="fas fa-th me-2"></i>Grid System</a></li>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bars.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="tabs.html"><i class="fas fa-sliders-h me-2"></i>Tabs</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="responsive-videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-primary">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-01.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Men's Football Boots </a></h6>
                                                        <p>2x - <span class="price">$30.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-02.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Sun Protection Cap</a></h6>
                                                        <p>1x - <span class="price">$10.20</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-03.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Heel Character Shoes</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-primary">
                                                        <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                        <a href="shop-cart.html" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
        
        <!-- CATEGORY MP-MENU
        ================================================== -->
        <div id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2>All Categories</h2>
                <ul>
                    <li class="mp-has-sub">
                        <a href="#">Devices</a>
                        <div class="mp-level">
                            <h2>Devices</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a href="#">Mobiles Phones</a>
                                    <div class="mp-level">
                                        <h2>Mobile Phones</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Apple Mobile</a></li>
                                            <li><a href="#">OnePlus Mobile</a></li>
                                            <li><a href="#">Lenovo Mobile</a></li>
                                            <li><a href="#">Micromax Mobile</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Laptops</a>
                                    <div class="mp-level">
                                        <h2>Laptops</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Thin Laptops</a></li>
                                            <li><a href="#">2-in-1 Laptops</a></li>
                                            <li><a href="#">Gaming Laptops</a></li>
                                            <li><a href="#">Budget Laptops</a></li>
                                            <li><a href="#">Light Laptops</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mp-has-sub">
                                    <a href="#">Televisions</a>
                                    <div class="mp-level">
                                        <h2>Televisions</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Full HD TV</a></li>
                                            <li><a href="#">Android TV</a></li>
                                            <li><a href="#">4K TV</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Beauty &amp; Health</a>
                        <div class="mp-level">
                            <h2>Beauty &amp; Health</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="#">Grooming</a></li>
                                <li><a href="#">Luxury Beauty</a></li>
                                <li><a href="#">Make-up</a></li>
                                <li><a href="#">Personal Care</a></li>
                                <li><a href="#">Nutrition Care</a></li>
                                <li><a href="#">Health Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mp-has-sub">
                        <a href="#">Store</a>
                        <div class="mp-level">
                            <h2>Store</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li class="mp-has-sub">
                                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                                    <div class="mp-level">
                                        <h2 class="icon icon-t-shirt">Clothes</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li>
                                                <a class="icon icon-female" href="#">Women's Clothing</a>
                                            </li>
                                            <li>
                                                <a class="icon icon-male" href="#">Men's Clothing</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="icon icon-diamond" href="#">Watches</a>
                                </li>
                                <li>
                                    <a class="icon icon-music" href="#">Shoes</a>
                                </li>
                                <li>
                                    <a class="icon icon-food" href="#">Jewellery</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Books &amp; Audible</a></li>
                    <li><a href="#">Movies &amp; Games</a></li>
                </ul>

            </div>
        </div>

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="user/img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1 style="color: white;">Shop Product Detail</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li style="color: white;"><a href="/home">Home</a></li>
                        <li><a href="#">Shop Product Detail</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- PRODUCT DETAILS
        ================================================== -->
        <section class="md">
            <div class="container">

                <!-- product section -->
                <div class="row mb-6 mb-md-7 mb-lg-9">
                    <div class="col-lg-5 text-center text-lg-start mb-1-9 mb-lg-0">

                        <!-- product left start -->
                         
                             <div class="xzoom-container">
                            <img class="xzoom5 mb-1-9" id="xzoom-magnific" src="/Images/<%= Product[0].Image[0] %>" xoriginal="/Images/<%= Product[0].Image[0] %>" alt="..." />
                            <div class="xzoom-thumbs no-margin">
                                
                                 <!-- <a href=""><img class="xzoom-gallery5" width="80" src="" xpreview="" title="The description goes here"></a> -->

                                 <%if (Product[0].Image.length > 0) {
                                    Product[0].Image.forEach((image) => {
                                      %>
                                      <a href="/Images/<%=image %>">
                                        <img class="xzoom-gallery5" width="80" src="/Images/<%=image %>" title="The description goes here">
                                      </a>
                                      <% 
                                    });
                                  } %>
                            </div>
                        </div>
                       
                       
                        <!-- product left end -->

                    </div>
                    <div class="col-lg-7 ps-lg-2-3">
                        <div class="product-detail">
                            <h2 class="mb-1"><%= Product[0].name %><span class="label-sale bg-primary text-white text-uppercase display-31">Sale</span></h2>
                            <div class="bg-primary separator-line-horrizontal-full mb-4"></div>
                            <!-- <p class="rating-text"><span>SKU:</span> <span class="font-500 theme-color">290397</span></p> -->
                            <p><%= Product[0].discription %></p>

                            <div class="mb-4">

                                <div class="d-inline-block me-3 pe-3 borders-end border-color-extra-medium-gray">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>    

                              

                            </div>
                            <div class="mb-4">
                                <!-- <span class="me-3 display-26 font-weight-600 offer-price">$21.00</span> -->
                                <span class="display-26 font-weight-700 text-primary">$<%= Product[0].price %></span>
                            </div>

                            <div class="row">
                                <div class="col-5 col-md-3">
                                    <label>Size:</label>

                                    <select class="mb-4 form-control medium form-select">
                                        <option >size</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                       
                                    </select>

                                </div>

                                <% if(Product[0].quantity>=5){%>
                                    <p style="color: green;">In Stock</p>
                                    <% }else if(Product[0].quantity<=0){%>
                                        <p style="color: red;" class="text-uppercase font-weight-600   d-block mb-2 mb-sm-3" >Out of stock</p>
                                    <% }else{%>
                                        <p style="color: orange;">Less In Stock</p>
                                   <% } %>
                                <!-- <div class="col-5 col-md-3">
                                    <div class="product-color">
                                        <label>Color:</label>
                                        <select class="mb-4 form-control medium form-select">
                                            <option value="Red">Red</option>
                                            <option value="Black">Black</option>
                                            <option value="Beige">Beige</option>
                                            <option value="White">White</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <!-- <div class="col-4 col-lg-2">
                                    <label>Qty:</label>
                                    <input type="text" value="" placeholder="1" class="form-control medium mb-4">
                                    
                                </div> -->

                            </div>

                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    <button class="butn-style2 me-3 mb-2 mb-md-0"><span><i class="fas fa-shopping-cart me-1"></i> Add to Cart</span></button>
                                    <button class="butn-style2 dark"> <a href="/wishlist?id=<%= Product[0]._id %>"> <span><i class="fas fa-heart me-1"></i> Add to wishlist</span></a></button>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-7">

                                    <label class="font-weight-600">Share on:</label>
                                    <ul class="social-icon-style1 ps-0">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                
                </div>
                <!-- end product section -->

                <!-- product description -->
                <!-- <div class="row justify-content-center mb-6 mb-md-7">

                    <div class="col-12">
                        <div class="horizontaltab tab-style-two">
                            <ul class="resp-tabs-list hor_1 text-start">
                                
                                <li><i class="ti-more d-md-block d-none"></i>Additional Info</li>
                                <li><i class="ti-star d-md-block d-none"></i>Reviews (2)</li>
                            </ul>
                            <div class="resp-tabs-container hor_1">
                                
                                <div>
                                    <div class="row">
                                        <div class="col-lg-6 mb-1-9 mb-lg-0">

                                            <h3 class="display-29">Information:</h3>
                                            <ul class="primary-list mb-1-9">
                                                <li><strong>Weight:</strong> 15 grams</li>
                                                <li><strong>Dimensions:</strong> 8.03 x 1.27 x 2.54 Cm</li>
                                                <li><strong>Size:</strong> 64 GB</li>
                                                <li><strong>Color:</strong> White</li>
                                                <li><strong>Guarantee:</strong> 5 Years</li>
                                            </ul>

                                            <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto in ea voluptate velit.</p>

                                        </div>
                                        <div class="col-lg-6 ps-lg-1-9">

                                            <div class="table-responsive">
                                                <table class="table bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Shipping Options</th>
                                                            <th>Delivery Time</th>
                                                            <th>Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                Standard Shipping
                                                            </td>
                                                            <td>
                                                                Delivery in 5 - 7 working days
                                                            </td>
                                                            <td>
                                                                $8.00
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Express Shipping
                                                            </td>
                                                            <td>
                                                                28 August 2022
                                                            </td>
                                                            <td>
                                                                $12.00
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                1 - 2 day Shipping
                                                            </td>
                                                            <td>
                                                                27 August 2022
                                                            </td>
                                                            <td>
                                                                $12.00
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Free Shipping
                                                            </td>
                                                            <td>
                                                                25 August 2022
                                                            </td>
                                                            <td>
                                                                $0.00
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <div class="row">

                                        <div class="col-lg-6 order-lg-2 mb-1-9 mb-lg-0">
                                            <div class="common-block">

                                                <div class="mb-2-3 pb-2-3 border-bottom">

                                                    <div class="media mb-4 product-review">
                                                        <img class="me-3 rounded-circle w-60px" src="user/img/avatar/t-1.jpg" alt="...">
                                                        <div class="media-body">
                                                            <a href="#" class="mb-1 font-weight-600 text-extra-dark-gray">Jonal Doe</a>
                                                            <span class="d-block text-primary">Sep 15, 2018</span>
                                                        </div>

                                                        <span class="text-primary">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                        </span>

                                                    </div>

                                                    <p class="mb-0">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

                                                </div>

                                                <div class="pb-4">

                                                    <div class="media mb-4 product-review">
                                                        <img class="me-3 rounded-circle w-60px" src="user/img/avatar/t-2.jpg" alt="...">
                                                        <div class="media-body">
                                                            <a href="#" class="mb-1 font-weight-600 text-extra-dark-gray">Marina Modra</a>
                                                            <span class="d-block text-primary">Sep 15, 2018</span>
                                                        </div>

                                                        <span class="text-primary">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                        </span>

                                                    </div>

                                                    <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>

                                                </div>

                                                <div class="text-start">
                                                    <a href="#" class="butn-style2 small">Load More Reviews</a>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-6 order-lg-1">

                                            <div class="common-block">

                                                <div class="inner-title">
                                                    <h4 class="mb-0">Leave Review</h4>
                                                    <p class="mb-0">Leave review takes it to the next level.</p>
                                                </div>

                                                <form>

                                                    <div class="row">

                                                        <div class="col-sm-6">

                                                            <div class="form-group">
                                                                <label>Your Name</label>
                                                                <input type="text" class="form-control" name="name" placeholder="Your name here">
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-6">

                                                            <div class="form-group">
                                                                <label>Your Email</label>
                                                                <input type="email" class="form-control" name="email" placeholder="Your email here">
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-sm-12 mb-2">

                                                            <div class="form-group">
                                                                <label>Rating</label>
                                                                <select class="form-control form-select">
                                                                    <option>5 Stars</option>
                                                                    <option>4 Stars</option>
                                                                    <option>3 Stars</option>
                                                                    <option>2 Stars</option>
                                                                    <option>1 Star</option>
                                                                </select>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-12 mb-4">

                                                            <label>Comment</label>
                                                            <div class="form-group mb-1">
                                                                <textarea rows="2" class="form-control" placeholder="Tell us a few words"></textarea>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <button type="button" class="butn-style2">Submit Review</button>

                                                </form>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->
                <!-- end product description -->

                <!-- related product -->
                <div class="inner-title">
                    <h3 class="mb-0">Related Products</h3>
                </div>

                <div class="product-grid-slide owl-carousel owl-theme">
                    <% allProduct.forEach((value)=>{%>

                 
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="/productDetails?id=<%= value._id %>">
                                <div class="label-offer bg-red">Sale</div><img src="/Images/<%= value.Image[0] %>" alt="..."></a>
                        </div>
                        <div class="product-description">
                            <h3><a href="/productDetails?id=<%= value._id %>"><%= value.name%></a></h3>
                            <h4 class="price">
                                                      
                                                        <span class="offer-price">$<%= value.price%></span>
                                                    </h4>
                        </div>
                        <div class="product-buttons">
                            <ul class="ps-0">
                                <li><a href="/wishlist" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <% })%>
                    <!-- <div class="product-grid">
                        <div class="product-img">
                            <a href="shop-product-detail.html"><img src="user/img/products/product-grid/product-02.jpg" alt="..."></a>
                        </div>
                        <div class="product-description">
                            <h3><a href="shop-product-detail.html">Desktop Speakers</a></h3>
                            <h4 class="price">
                                                        <span class="offer-price">$29.00</span>
                                                    </h4>
                        </div>
                        <div class="product-buttons">
                            <ul class="ps-0">
                                <li><a href="#" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="shop-product-detail.html">
                                <div class="label-offer left-align bg-primary">New</div><img src="user/img/products/product-grid/product-03.jpg" alt="..."></a>
                        </div>
                        <div class="product-description">
                            <h3><a href="shop-product-detail.html">Wireless Controller</a></h3>
                            <h4 class="price">
                                                        <span class="regular-price line-through">$57.00</span>
                                                        <span class="offer-price">$55.00</span>
                                                    </h4>
                        </div>
                        <div class="product-buttons">
                            <ul class="ps-0">
                                <li><a href="#" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="shop-product-detail.html"><img src="user/img/products/product-grid/product-04.jpg" alt="..."></a>
                        </div>
                        <div class="product-description">
                            <h3><a href="shop-product-detail.html">Wireless Headset</a></h3>
                            <h4 class="price">
                                                        <span class="offer-price">$28.00</span>
                                                    </h4>
                        </div>
                        <div class="product-buttons">
                            <ul class="ps-0">
                                <li><a href="#" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-grid">
                        <div class="product-img">
                            <a href="shop-product-detail.html"><img src="user/img/products/product-grid/product-05.jpg" alt="..."></a>
                        </div>
                        <div class="product-description">
                            <h3><a href="shop-product-detail.html">Hp Wireless Printer</a></h3>
                            <h4 class="price">
                                                    <span class="offer-price">$90.00</span>
                                                </h4>
                        </div>
                        <div class="product-buttons">
                            <ul class="ps-0">
                                <li><a href="#" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <!-- end related product -->

            </div>
        </section>
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> Smartshop is Powered by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-dark">Chitrakoot Web</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        
    </div>
    
    <!-- BUY TEMPLATE
    ================================================== -->
    <!-- <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>
     -->
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="user/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="user/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="user/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="user/js/core.min.js"></script>

    <!-- zoom js -->
    <script src="user/js/xzoom.js"></script>

    <!-- hammer js -->
    <script src="user/js/jquery.hammer.min.js"></script>

    <!-- setup js -->
    <script src="user/js/setup.js"></script>

    <!-- custom scripts -->
    <script src="user/js/main.js"></script>

    <!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 15:59:12 GMT -->
</html>